{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <title>Accordion</title>
</head>

<body>
  <h1>Accordion</h1>

  <div class="accordion" id="accordionExample275">
    <div class="card z-depth-0 bordered" id="acc1">
      <div class="card-header" id="headingOne2">
        <h5 class="mb-0">
          <button id="activity" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2" style="text-decoration:none !important; color:black">
            Current Activities
          </button>
          <button class="btn btn-warning" name="upButton1" id="upButton1" onclick="upButton1()">Up</button> <button class="btn btn-warning" name="downButton1" id="downButton1" onclick="downButton1()">Down</button>
        </h5>
      </div>
      <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordionExample275">
        <div class="card-body">
          <ul>
            <li>Studying</li>
            <li>Bungee Jumping</li>
            <li>Making a Baking Soda Volcano</li>
            <li>Watching Paint Dry</li>
            <li>Animal Crossing</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card z-depth-0 bordered" id="acc2">
      <div class="card-header" id="headingTwo2">
        <h5 class="mb-0">
          <button id="experience" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2" style="text-decoration:none !important; color:black">
            Organizational/Committee Experience
          </button>
          <button class="btn btn-warning" name="upButton2" id="upButton2" onclick="upButton2()">Up</button> <button class="btn btn-warning" name="downButton2" id="downButton2" onclick="downButton2()">Down</button>
        </h5>
      </div>
      <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample275">
        <div class="card-body">
          <ul>
            <li>Chief Procurement Officer of UKM Flag Football UI 2019/2020</li>
            <li>IGN Ticketing Staff at Interweek 2019</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card z-depth-0 bordered" id="acc3">
      <div class="card-header" id="headingThree2">
        <h5 class="mb-0">
          <button id="achievement" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2" style="text-decoration:none !important; color:black">
            Achievements
          </button>
          <button class="btn btn-warning" name="upButton3" id="upButton3" onclick="upButton3()">Up</button> <button class="btn btn-warning" name="downButton3" id="downButton3" onclick="downButton3()">Down</button>
        </h5>
      </div>
      <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample275">
        <div class="card-body">
          <ul>
            <li>World Champion Pokémon Trainer</li>
            <li>Beyblade Master</li>
            <li>Yoyo Connoisseur </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card z-depth-0 bordered" id="acc4">
      <div class="card-header" id="headingTwo2">
        <h5 class="mb-0">
          <button id="profiecency" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2" style="text-decoration:none !important; color:black">
            Proficiency
          </button>
          <button class="btn btn-warning" name="upButton4" id="upButton4" onclick="upButton4()">Up</button> <button class="btn btn-warning" name="downButton4" id="downButton4" onclick="downButton4()">Down</button>
        </h5>
      </div>
      <div id="collapseFour2" class="collapse" aria-labelledby="Four2" data-parent="#accordionExample275">
        <div class="card-body">
          <ul>
            <li>Poetry</li>
            <li>Composing</li>
            <li>Proud Pikachu Main</li>
            <li>Training</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <center><button id="changethemebutton" class="btn btn-warning" onclick="themeChange()" style="margin-top:10rem">Change Theme</button></center>



  <script>
    function upButton1() {
      var curr = $("#acc1");
      var next = curr.prev();
      next.insertAfter(curr);
    }

    function downButton1() {
      var curr = $("#acc1")
      var next = curr.next();
      next.insertBefore(curr);
    }

    function upButton2() {
      var curr = $("#acc2");
      var next = curr.prev();
      next.insertAfter(curr);
    }

    function downButton2() {
      var curr = $("#acc2")
      var next = curr.next();
      next.insertBefore(curr);
    }

    function upButton3() {
      var curr = $("#acc3");
      var next = curr.prev();
      next.insertAfter(curr);
    }

    function downButton3() {
      var curr = $("#acc3")
      var next = curr.next();
      next.insertBefore(curr);
    }

    function upButton4() {
      var curr = $("#acc4");
      var next = curr.prev();
      next.insertAfter(curr);
    }

    function downButton4() {
      var curr = $("#acc4")
      var next = curr.next();
      next.insertBefore(curr);
    }

    function themeChange() {
      $('body').toggleClass("bg-dark").toggleClass("text-warning");
      $('.card').toggleClass("bg-secondary").toggleClass("text-white");
      $('#activity').toggleClass("text-white");
      $('#experience').toggleClass("text-white");
      $('#achievement').toggleClass("text-white");
      $('#profiecency').toggleClass("text-white");
      $('#upButton1').toggleClass("bg-danger").toggleClass("text-white")
      $('#downButton1').toggleClass("bg-danger").toggleClass("text-white")

      $('#upButton2').toggleClass("bg-danger").toggleClass("text-white")
      $('#downButton2').toggleClass("bg-danger").toggleClass("text-white")

      $('#upButton3').toggleClass("bg-danger").toggleClass("text-white")
      $('#downButton3').toggleClass("bg-danger").toggleClass("text-white")

      $('#upButton4').toggleClass("bg-danger").toggleClass("text-white")
      $('#downButton4').toggleClass("bg-danger").toggleClass("text-white")

      $('#changethemebutton').toggleClass("bg-danger")

    }
  </script>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>